@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
    int n = 0;
}

<div style="padding:50px;">
    <h1>Students</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark">Create New</a>
    </p>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.General.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                n++;
                <tr>
                    <td>@n</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classes.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.General.Sex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.ParentName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
